@neuralline:registry=https://npm.pkg.github.com
# npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}



# Use npm's registry
registry=https://registry.npmjs.org/

# PNPM-specific configurations
node-linker=isolated
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
publish-branch=master

# Performance settings
prefer-frozen-lockfile=true
use-lockfile-v6=true
registry-supports-cas=auto

# Publishing
always-auth=true
access=public